<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }
    </style>
<body>
    <div ng-app="myApp" ng-controller="customersCtrl">

        <table>
            <tr>
                <th>#</th>
                <th ng-click="myOrderBy('title')">Name</th>
                <th ng-click="myOrderBy('category')">Category</th>
            </tr>
          <tr ng-repeat="x in names | orderBy:myOrder">
            <th>{{$index + 1}}</th>
            <td>{{ x.title | uppercase}}</td>
            <td>{{ x.category }}</td>
          </tr>
        </table>
        
        </div>
        
        <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
            $http.get("https://dummyjson.com/products")
            .then(function (response) {$scope.names = response.data.products;});
            $scope.myOrderBy = (x)=>{
                return $scope.myOrder = x;
            }
        });
        </script>
</body>
</html>